name: Build

on:
  workflow_call:
    secrets:
      CACHIX_AUTH_TOKEN:
        required: false

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        package:
          - faf-client
          - faf-client-unstable
          - proton-ge
          - wine-ge
          - wine-osu
          - wine-tkg

    uses: ./.github/workflows/nix.yml
    with:
      command: nix build -L .#${{ matrix.package }}
    secrets: inherit
