name: Checks

on: [push, pull_request, workflow_dispatch]

jobs:
  check:
    strategy:
      matrix:
        command:
          - NIXPKGS_ALLOW_INSECURE=1 nix flake check --impure
          - nix run nixpkgs#nixfmt-tree -- --ci

    uses: ./.github/workflows/nix.yml
    with:
      command: ${{ matrix.command }}

  build:
    needs: check
    uses: ./.github/workflows/build.yml
    secrets: inherit
