name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  cachix:
    name: Build Packages
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
        - wine-tkg
        - winestreamproxy
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: cachix/install-nix-action@v13
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210604_8e6ee1b/install
          extra_nix_config: experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: nix-gaming
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build -L .#${{ matrix.package }}
